@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #81868e; }

html {
  font-size: 100%; }

.banner {
  width: 100%;
  height: 46.06rem;
  background: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 2.44rem;
  padding-bottom: 4.8rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .banner__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .banner__title-big {
      margin: 0;
      text-transform: uppercase;
      font-size: 2.19rem;
      font-weight: 300;
      letter-spacing: 7px;
      margin-bottom: 2.88rem; }
    .banner__title-small {
      width: 30.13rem;
      text-align: center; }
  .banner__button {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: #19bd9a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer; }
    .banner__button-img {
      width: 0.75rem; }

h1,
h2,
h3 {
  margin: 0; }

.header {
  width: 100%;
  padding: 0 6.19rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }
  .header__logo {
    text-transform: uppercase;
    font-size: 1.56rem;
    font-weight: 800; }
  .header__links-item {
    text-decoration: none;
    color: white;
    padding: 0.63rem 1.25rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 1.2rem;
    transition: .6s; }
    .header__links-item:hover {
      border: 1px solid white; }

.about {
  width: 100%;
  height: 30.44rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .about__text {
    width: 29.4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 10rem; }
    .about__text-title {
      text-transform: uppercase;
      font-size: 1.25rem;
      margin-bottom: 2.8rem;
      font-weight: 300;
      letter-spacing: 5px; }
    .about__text-content {
      font-size: 0.88rem;
      margin-bottom: 2rem; }
    .about__text-btn {
      text-decoration: none;
      padding: 0.63rem 1.25rem;
      border: 1px solid #333b46;
      box-sizing: border-box;
      border-radius: 1.2rem;
      color: #333b46;
      text-transform: capitalize; }

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 2.5rem; }

.subtitle {
  text-align: center;
  font-size: 0.88rem;
  font-weight: 300;
  width: 29rem; }

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 38.6rem;
  background: #f3f3f3; }
  .details__buttons {
    width: 13.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 3.88rem; }
    .details__buttons-item {
      width: 3.3rem;
      height: 3.3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background: #81868e;
      cursor: pointer;
      transition: .4s; }
      .details__buttons-item_active {
        background: #19bd9a !important;
        cursor: default; }
      .details__buttons-item:hover {
        background: rgba(25, 189, 154, 0.6); }
  .details__content {
    width: 64.4rem;
    margin-top: 3.75rem; }
    .details__content-title {
      font-size: 1.25rem;
      color: #333b46;
      margin-bottom: 2.5rem;
      font-weight: 400; }
    .details__content-text {
      display: inline-block;
      width: 20.75rem;
      height: 6.75rem;
      font-weight: 400; }
      .details__content-text_big {
        width: 32.25rem;
        float: right;
        margin-right: 4rem; }

.colored {
  color: #19bd9a; }

.featured {
  width: 100%;
  height: 41.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .featured__whiskey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%; }
    .featured__whiskey .wrapper {
      height: 20rem;
      flex: 1;
      position: relative; }
      .featured__whiskey .wrapper:hover > .featured__whiskey-item_small {
        filter: none; }
      .featured__whiskey .wrapper__text {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        left: 0;
        top: 0;
        z-index: 1;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 4px; }
    .featured__whiskey-item {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 40%;
      height: 20rem;
      flex: 2;
      position: relative;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 4px;
      /* .dark
            {
                background-color: rgba($color: black, $alpha: .7);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;   /* затемняет картинку
            }
           /* &::after{
                content: '';
                display: block;
                padding-bottom: 100%;
            }*/ }
      .featured__whiskey-item-text {
        filter: grayscale(100) brightness(0.4); }
      .featured__whiskey-item_v1 {
        background-image: url("../images/whiskey.jpg"); }
      .featured__whiskey-item_v2 {
        background-image: url("../images/img2.jpg"); }
      .featured__whiskey-item_b1 {
        background-image: url("../images/img3.jpg"); }
      .featured__whiskey-item_small {
        /*FILTER - свойства картинки. можно писать несколько через пробел*/
        width: 100%;
        height: 100%;
        filter: grayscale(100) brightness(0.4);
        transition: .3s; }
  .featured__footer {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10.5rem;
    display: flex;
    justify-content: spase-between;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/2222222222.jpg); }
    .featured__footer__buttom {
      text-decoration: none;
      color: white;
      border: 1px solid white;
      border-radius: 1.2rem;
      cursor: pointer;
      user-select: none;
      padding: 0.63rem 1.25rem; }
