@import './fonts.scss';

$font-color:#81868e;
$active-color:#19bd9a;

@mixin flexAligh ($hor:center, $vert:center, $pos:row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: $font-color;

}

html {
    font-size: 100%;
}

.banner {
    width: 100%;
    height: 46.06rem;
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 2.44rem;
    padding-bottom: 4.8rem;
    box-sizing: border-box;
    @include flexAligh($hor:space-between, $pos:column);

    &__title {
        @include flexAligh($pos:column);

        &-big {
            margin: 0;
            text-transform: uppercase;
            font-size: 2.19rem;
            font-weight: 300;
            letter-spacing: 7px; //расстояние между буквами
            margin-bottom: 2.88rem;
        }

        &-small {
            width: 30.13rem;
            text-align: center;
        }
    }

    &__button {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background: $active-color;
        @include flexAligh;
        cursor: pointer;

        &-img {
            width: 0.75rem;
        }

    }
}

h1,
h2,
h3 {
    margin: 0;
}

.header {
    width: 100%;
    padding: 0 6.19rem;
    box-sizing: border-box;
    @include flexAligh(space-between);

    &__logo {
        text-transform: uppercase;
        font-size: 1.56rem;
        font-weight: 800;
    }

    &__links {
        &-item {
            text-decoration: none;
            color: white;
            padding: 0.63rem 1.25rem;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 1.2rem;
            transition: .6s;

            &:hover {
                border: 1px solid white;
            }
        }
    }

}

.about {
    width: 100%;
    height: 30.44rem;
    background: white;
    @include flexAligh;


    &__text {
        width: 29.4rem;
        @include flexAligh($pos:column, $vert: flex-start);
        margin-right: 10rem;

        &-title {
            text-transform: uppercase;
            font-size: 1.25rem;
            margin-bottom: 2.8rem;
            font-weight: 300;
            letter-spacing: 5px;
        }

        &-content {
            font-size: 0.88rem;
            margin-bottom: 2rem;
        }

        &-btn {
            text-decoration: none;
            padding: 0.63rem 1.25rem;
            border: 1px solid #333b46;
            box-sizing: border-box;
            border-radius: 1.2rem;
            color: #333b46;
            text-transform: capitalize;
        }
    }

}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 2.5rem;
}

.subtitle {
    text-align: center;
    font-size: 0.88rem;
    font-weight: 300;
    width: 29rem;
}

.details {
    @include flexAligh($pos:column);
    width: 100%;
    height: 38.6rem;
    background: #f3f3f3;

    &__buttons {
        width: 13.3rem;
        @include flexAligh(space-between);
        margin-top: 3.88rem;

        &-item {
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            @include flexAligh;
            background: $font-color;
            cursor: pointer;
            transition: .4s;

            &_active {
                background: $active-color !important;
                cursor: default;

            }

            &:hover {
                background: rgba($active-color, .6);

            }
        }
    }

    &__content {
        width: 64.4rem;
        margin-top: 3.75rem;

        &-title {
            font-size: 1.25rem;
            color: #333b46;
            margin-bottom: 2.5rem;
            font-weight: 400;

        }

        &-text {
            display: inline-block;
            width: 20.75rem;
            height: 6.75rem;
            font-weight: 400;


            &_big {
                width: 32.25rem;
                float: right;
                margin-right: 4rem;

            }
        }

    }

}

.colored {
    color: $active-color;
}

.featured {
    width: 100%;
    height: 41.9rem;
    @include flexAligh($pos:column);



    &__whiskey {
        @include flexAligh;
        width: 100%;
        
        
        .wrapper
        {
            height: 20rem;
            flex: 1;
            position: relative;

            &:hover>.featured__whiskey-item_small{
                filter: none;
            }
            

            &__text
            {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                @include flexAligh;
                left: 0;
                top: 0;
                z-index: 1;
                color: white;
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 4px;
            }
        }


        &-item {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 40%;
            height: 20rem;
            flex: 2;
            position: relative;
            color: white;
            @include flexAligh;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 4px;

            &-text
            {
                filter: grayscale(100) brightness(.4);
            }
            
           /* .dark
            {
                background-color: rgba($color: black, $alpha: .7);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;   /* затемняет картинку
            }
           /* &::after{
                content: '';
                display: block;
                padding-bottom: 100%;
            }*/

            
            &_v1 {
                background-image: url('../images/whiskey.jpg');
            }

            &_v2 {
                background-image: url('../images/img2.jpg');
            }

            &_b1 {
                background-image: url('../images/img3.jpg');
            }

            &_small {
                /*FILTER - свойства картинки. можно писать несколько через пробел*/
                width: 100%;
                height: 100%;
                filter: grayscale(100) brightness(.4);
                transition: .3s;

                
                
            }
        }

    }

    &__footer
    {
        width: 100%;
        box-sizing: border-box;
        padding:0 10.5rem ;
        @include flexAligh(spase-between);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/2222222222.jpg);

       &__buttom
       {
           text-decoration: none;
           color: white;
           border: 1px solid white;
           border-radius: 1.2rem;
           cursor: pointer;
           user-select: none;
           padding: 0.63rem 1.25rem;
       }
    }
}

